<% @articles.each do |article| %>

    <h2><%= article.title %></h2>

    <!-- Author -->
    <p class="lead">
      by <a href="#"><%= article.user.email %></a>
    </p>

    <hr>

    <!-- Post Content -->
    <p><%= truncate(strip_tags(article.body), :length => 300 )%></p>

    <%= link_to '[Edit]', edit_article_path(article) %>
    <% if article.is_moderated? %>
        <%= link_to '[Disable]', admin_moderate_article_path(article) %>
    <% else %>
        <%= link_to '[Allow]', admin_moderate_article_path(article) %>
    <% end %>
        <%= link_to '[Delete]', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>

<% end %>